*{
  margin:0;
  padding:0;
}

body{
  background-image: url('https://cdn.pixabay.com/photo/2018/08/08/01/39/buildings-3591169_960_720.png');
}

div.character{
  width:96px;
  height:170px;
  background-image: url("../images/walk-cycle.jpg");
  position:absolute;
  top:72%;
  left:5%;
  animation:walk 1s steps(8) infinite,
            forward 5s linear infinite;
}

@keyframes walk {
  0%{
    background-position:0;
  }
  100%{
    background-position:768px;
  }
}

@keyframes forward{
  0%{
    transform:translateX(-100px);
  }
  100%{
    transform:translateX(1200px);
  }
}
