@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');

body{
  background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_960_720.jpg");
  margin:0;
  padding:0;
  max-width:100%
  height:auto;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  font-family: 'Inconsolata', monospace;
  line-height: 1.6;
}

#title{
  text-align: center;
  font-size:30px;
  text-transform: uppercase;
}

#image{
  max-width:100%;
  height:auto;
  object-fit: cover;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}

#img-caption{
  text-align: center;
  margin-bottom: 30px;
}

.info{
  text-align: left;
  word-wrap: break-word;
  overflow-wrap:break-word;
  word-break: break-all;
  overflow:hidden;
  font-size:14.5px;
  padding: 0px 30px;
}

#tribute-info{
  margin: 0px 5px;
}

#tribute-link{
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

.btn-link{
  padding:5px 15px 5px 15px;
  display:block;
  border-radius:10px;
  margin:23px auto 27px auto;
}

.btn-link:hover{
  background-color:#ADD8E6;
}

.footer-text{
  font-style: italic;
  font-size: 14px;
  text-align: center;
  margin:20px 10px;
}
a:link{
  text-decoration: none;
}

/* media queries */
/* info */
@media screen and (min-width: 768px) and (max-width:992px){
  .info{
    text-align:center;
    font-size:15px;
    margin: 0px 30px;
  }
  #tribute-link{
    font-size:15px;
  }
  #title{
    font-size:32px;
  }
  .footer-text{
    font-size:15px;
  }
}

@media screen and (min-width: 992px) and (max-width:1200px){
  .info{
    text-align:center;
    font-size:17px;
    margin: 0px 40px;
  }
  #tribute-link{
    font-size:17px;
  }
  #title{
    font-size:34px;
  }
  .footer-text{
    font-size:15px;
  }
}

@media screen and (min-width: 1200px){
  .info{
    text-align:center;
    font-size:17px;
    margin: 0px 40px;
  }
  #tribute-link{
    font-size:17px;
  }
  #title{
    font-size:34px;
  }
  .footer-text{
    font-size:15px;
  }
}

/* image */
@media screen and (min-width: 768px) and (max-width:992px){
  .image-responsive{
    width:200px;
  }
}
@media screen and (min-width: 992px) and (max-width:1200px){
.image-responsive {
  width: 400px;
  }
}
@media screen and ( min-width: 1200px) {
.image-responsive {
  width: 400px;
  }
}
.image-responsive {
  height: auto;
}
