@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

*{
	margin:0;
	padding:0;
}

body{
	font-family: 'BioRhyme', serif;
	line-height: 1.8em;
	margin: 0;
	min-height: 100vh;
}

h1{
	text-align:center;
	color:#344055;

}

h4{
	font-style: italic;
	color:#16161d;
}


/* NAV */
.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list{
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #34495e;
}

.logo {
	margin: 0;
	font-family: 'Lobster', cursive;
	font-size: 1.60em;
}

.main-nav {
	margin-top: 5px;

}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 1px solid #a2a2a2;
	background-color: #f4f4f4;
}


/* HERO PAGE */
.landing-page{
	max-width:100vw;
	height:100vh;

	background-image: url("https://cdn.pixabay.com/photo/2016/11/29/07/45/desserts-1868181_960_720.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	opacity:0.9;
}


/* ABOUT */
#about{
	display:flex;
	height:50vh;
	max-width:100vw;
	padding-bottom: 50px;
}

.about-flex{
	flex: 1;
}

.about-info{
	text-align:left;
	padding:30px;
}

.about-img{
	max-width:60vw;
	height:100vh;
}

.about-info p{
	padding-top: 15px;
	text-align:center;
	font-size:17px;
	color:#2a4041;
}


/* PRODUCTS */
#products{
	padding-top:340px;
	width:100vw;
	height:100vh;
}

#products h1{
	padding-bottom: 15px;
}

.product-images{
	margin:20px 60px 0px 60px;
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	grid-template-rows: repeat(3, 15vw);
	grid-gap:5px;
	justify-content:center;
}

.baked-img{
	width:100%;
	height:100%;
	object-fit:cover;
}


/* EVENTS & LOCATION */
.event-info, .location-info{
	text-align:center;
	padding:35px 80px;
	/*color:#16161d;
	color:#7d7d7d;*/
	color:#2a4041;

}

.event-info p, .location-info p{
	padding-top:15px;
	font-size:17px;
}

#events, #location{
	width:100vw;
	height:50vh;
}


/* BUTTON: EVENTS */
.btn-event{
	margin-top:30px;
	font-size:17px;
	cursor:pointer;
	background-color: #63a4ff;
	background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
	border: none;
	border-radius:5px;
	padding:8px 12px;
}

.btn-event:hover{
	background-color: #abe9cd;
	background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
	color:#fff;
	font-weight:bold;
}


/* REVIEWS */
.reviews{
	margin-top:60px;
	width:100vw;
}

.review-cards{
	width:80vw;
	margin:20px 10px 0px 10px;
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	grid-gap:25px;
	text-align: left;
	margin-left:120px;
	padding-top:15px;
}

.review-cards p{
	font-size:14px;
	color:#36454f;
}

/* FOOTER */
footer{
	margin-top:50px;
	width:100vw;
	background-color: #5E5E5E;
	height:60px;
}

/* HR ELEMENT */
hr{
	width:60%;
	margin:auto;
	border:3px solid;
	border-image: linear-gradient(315deg, #d19592 0%, #c81f70 74%) 1;
	border-radius: 5px;
}

.events-hr{
	margin-top:200px;
}

.location-hr{
	width:50%;
}

.review-hr{
	margin-top:30px;
}

/* PRODUCT RATING */
.rating-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


/* MEDIA QUERIES NAVBAR */
@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
}


/* EVENT LOCATION */
@media (max-width:600px) {
	.event-info,
	.location-info{
		width:100vw;
		height:70vh;
	}
	p{
		font-size:15px;
	}
}


/* PRODUCT IMAGES */
/*@media screen and (max-width: 800px) {
	#products,
	.product-images {
		width: 50%;
	}
}*/

/*@media screen and (max-width: 500px) {
	#products,
	.product-images {
		width: 100%;
	}
}*/
