body{
  font-size:15px;
  font-family: "Lucida Handwriting", Lucida Sans, sans-serif, serif;
  letter-spacing: 0.15em;
  background-color: #f0f8ff;
}
#page{
  max-width:940px;
  min-width:720px;
  margin:10px auto 10px auto;
  padding:20px;
  border:4px double #000;
  background-color:#ffffff;
}
h1,h2{
  text-align: center;
  color:turqoise;
}
#image{
  display:block;
  size:100;
  position: center;
  height:100vh;
  display: flex;
  flex-direction:column;
  align-items:center;
  padding:0 20px;
}
p{
  text-align:center;
  width:600px;
  margin:20px auto 20px auto;
  font-weight:550;
}
