@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.main-body{
  /* line-height:15px; */
}
.intro p{
  font-family:'Chelsea Market', cursive;
  color:#00A693;
  background-color:pink;
  text-align:center;
  font-size:15px;
  margin:10px;
  height:100px;
  width:300px;
}
.mid p{
  font-family:'Chelsea Market', cursive;
  color:#00A693;
  background-color:pink;
  text-align:justify;
  font-size:18px;
  padding:10px;
  height:100px;
  width:350px;
}
.theft p{
  font-family:'Chelsea Market', cursive;
  color:#00A693;
  background-color:pink;
  text-align:right;
  font-size:21px;
  border:2px solid black;
  padding:15px;
  margin-left:15px;
  height:100px;
  width:450px;
}
