@import url('https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900' rel='stylesheet' type='text/css')

html, body{
	min-height:100%;
	display:flex;
	flex-direction:column;
	font-weight:300;
	line-height:15px;
}

body{
	font-family:'Lato', sans-serif;
	/*background-image:url('https://cdn.pixabay.com/photo/2016/02/11/01/53/wall-paper-1193001__340.jpg');*/
	/*background-position:center top;
*/	/*background-size:cover;*/
	background-color:white;
	margin:0;
}
/*header*/
.nav{
	height:50px;
	/*background:	#00A693;*/
}
.nav div{
	display:inline-block;
	position:absolute;
	left:0;
	padding:15px;
	font-size:30px;
	color:black;
}

.logo{
	/*top:-40px;
	left:-15px;*/
}
.nav ul{
	position:absolute;
	right:5px;
}
.nav ul li{
	display:inline-block;
}
.nav ul li a{
	color:black;
	padding:20px;
	font-size: 15px;
	text-decoration:none;
}
.page-title{
	text-align: left;
	font-weight:200;
}
/*end of header*/

/*A little about our products*/

.page-description{
	margin:2px;
	text-align:center;
	padding:30px;
	font-size: 30px;
}
/*end of 'A little about our products'*/

/*Pics of products*/
.gallery{
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.gallery-item{
	margin:15px;
}
.gallery-item .thumnail{
	border:5px solid #fff;
}
/*End of pics of products*/

/*order section*/
.order{
	margin:2px;
	text-align:center;
	padding:30px;
	font-size: 30px;
}
/*end of order section*/

/*footer - social media accounts*/
.social-media{
	background-color:#fff;
}

.social-media ul{
	display:inline;
}
.social-media ul li{
	display:inline;
	margin:0;
	padding:0 10px;
}

.social-media ul li a{
	height:60px;
	line-height: 60px;
	color:aqua;
	text-decoration:none;
	font-size:20px;
}
/*end of footer*/

/*.buy-btn{
	float:center;
}
.contact-btn a{
	cursor:pointer;
}*/